{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  </head>
  <body>
    {% block body %}
    <div class="container-fluid">
      <div class="row bg-secondary py-1 px-xl-5">
          <div class="col-lg-6 d-none d-lg-block">
              <div class="d-inline-flex align-items-center h-100">
                  <a class="text-body mr-3" href="">About</a>
                  <a class="text-body mr-3" href="">Contact</a>
                  <a class="text-body mr-3" href="">Help</a>
                  <a class="text-body mr-3" href="">FAQs</a>
              </div>
          </div>
          <div class="col-lg-6 text-center text-lg-right">
              <div class="d-inline-flex align-items-center">
                  <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown">Minha Conta</button>
                      <div class="dropdown-menu dropdown-menu-right">
                          {% if not user.is_authenticated %}
                              <button class="dropdown-item" type="button" onclick="location.href='/accounts/login/'">Login</button>
                              <button class="dropdown-item" type="button" onclick="location.href='/accounts/signup/'" >Registrar</button>
                              {% else %}
                              <button class="dropdown-item" type="button" onclick="location.href='{% url 'Perfil_app:Perfil' %}'">Perfil</button>
                              <button class="dropdown-item" type="button" onclick="location.href='/accounts/logout/'" >Sair</button>
                          {% endif %}
                      </div>
                  </div>
              </div>
              <div class="d-inline-flex align-items-center d-block d-lg-none">
                  <a href="" class="btn px-0 ml-2">
                      <i class="fas fa-heart text-dark"></i>
                      <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                  </a>
                  <a href="" class="btn px-0 ml-2">
                      <i class="fas fa-shopping-cart text-dark"></i>
                      <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                  </a>
              </div>
          </div>
      </div>
      <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
          <div class="col-lg-4">
              <a href="{% url 'Home_app:Home' %}" class="text-decoration-none row">
                  <span class="h1 text-uppercase text-primary bg-dark px-2">Desapeguei</span>
                  <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Shop</span>
              </a>
          </div>
          <div class="col-lg-4 col-6 text-left">
            {% comment %} aqui ficava o search for products {% endcomment %}
          </div>
          <div class="col-lg-4 col-6 text-right">
              <p class="m-0">Serviço ao Cliente</p>
              <h5 class="m-0">+012 345 6789 (Fake)</h5>
          </div>
      </div>
  </div>
    {% comment %} navbar abaixo {% endcomment %}
    <div class="container-fluid bg-dark mb-30">
      <div class="row px-xl-5">
          <div class="col-lg-3 d-none d-lg-block">
              {% comment %} <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; padding: 0 30px;">
                  <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Categorias</h6>
                  <i class="fa fa-angle-down text-dark"></i>
              </a> {% endcomment %}
              <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
                  <div class="navbar-nav w-100">
                      <div class="nav-item dropdown dropright">
                          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Dresses <i class="fa fa-angle-right float-right mt-1"></i></a>
                          <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                              <a href="" class="dropdown-item">Men's Dresses</a>
                              <a href="" class="dropdown-item">Women's Dresses</a>
                              <a href="" class="dropdown-item">Baby's Dresses</a>
                          </div>
                      </div>
                      <a href="" class="nav-item nav-link">Shirts</a>
                      <a href="" class="nav-item nav-link">Jeans</a>
                      <a href="" class="nav-item nav-link">Swimwear</a>
                      <a href="" class="nav-item nav-link">Sleepwear</a>
                      <a href="" class="nav-item nav-link">Sportswear</a>
                      <a href="" class="nav-item nav-link">Jumpsuits</a>
                      <a href="" class="nav-item nav-link">Blazers</a>
                      <a href="" class="nav-item nav-link">Jackets</a>
                      <a href="" class="nav-item nav-link">Shoes</a>
                  </div>
              </nav>
          </div>
          <div class="col-lg-9">
              <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                  <a href="{% url 'Home_app:Home' %}" class="text-decoration-none d-block d-lg-none">
                      <span class="h1 text-uppercase text-dark bg-light px-2">Desapeguei</span>
                      <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Shop</span>
                  </a>
                  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                      <div class="navbar-nav mr-auto py-0">
                          <a href="{% url 'Home_app:Home' %}" class="nav-item nav-link {% comment %} active {% endcomment %}">Home</a>
                          <a href="{% url 'Home_app:Shop' %}"  class="nav-item nav-link">Shop</a>
                          <a href="{% url 'Home_app:Detail' %}"  class="nav-item nav-link">Shop Detail</a>
                          <div class="nav-item dropdown">
                              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down mt-1"></i></a>
                              <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                                  <a href="{% url 'Home_app:Cart' %}" class="dropdown-item">Shopping Cart</a>
                                  <a href="{% url 'Home_app:Checkout' %}" class="dropdown-item">Checkout</a>
                              </div>
                          </div>
                          <a href="{% url 'Home_app:Contact' %}" class="nav-item nav-link">Contact</a>
                      </div>
                      {% comment %} aqui continha os icones de carrinho e favoritosZ
                      <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                          
                      </div> {% endcomment %}
                  </div>
              </nav>
          </div>
      </div>
  </div>
  {% comment %} end of navbar {% endcomment %}
    


    <div class="container">
      <div>
        <div class="configdiv" style="margin-left: 30%">
          {% block content %}
          {% endblock %}

        </div>

      </div>
      
    </div>
    
    {% endblock %}
    
    {% block extra_body %}
    {% endblock %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Contact Javascript File -->
    <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static 'mail/contact.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
