{% load static %}
<div class="container-fluid bg-dark text-secondary mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <h5 class="text-secondary text-uppercase mb-4">Por que fiz esse projeto ?</h5>
            <p class="mb-4">Queria e coloquei em pratica meus conhecimentos em programação e desenvolvimento web para criar um simulador de OLX</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i><label for=""></label> jhone.test14@gmail.com</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" href="{% url 'Home_app:Home' %}"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-secondary mb-2" href="{% url 'Home_app:Shop' %}"><i class="fa fa-angle-right mr-2"></i>Compre</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Minha Conta</h5>
                    <div class="d-flex flex-column justify-content-start">
                        {% if user.is_authenticated %}
                            <a class="text-secondary mb-2" href="{% url 'Perfil_app:Perfil' %}"><i class="fa fa-angle-right mr-2"></i>Perfil</a>
                            <a class="text-secondary mb-2" href="/accounts/logout/"><i class="fa fa-angle-right mr-2"></i>Sair</a>
                            <a class="text-secondary mb-2" href="{% url 'Home_app:vender_produto' %}"><i class="fa fa-angle-right mr-2"></i>Vender Produto</a>
                            <a class="text-secondary mb-2" href="{% url 'Home_app:historico_publicacao' %}"><i class="fa fa-angle-right mr-2"></i>Ver Historico</a>
                            <a class="text-secondary mb-2" href="{% url 'Home_app:historicos' %}"><i class="fa fa-angle-right mr-2"></i>Ver Historico de Compras</a>
                        {% else %}
                            <a class="text-secondary mb-2" href="/accounts/login/"><i class="fa fa-angle-right mr-2"></i>Login</a>
                            <a class="text-secondary mb-2" href="/accounts/signup/"><i class="fa fa-angle-right mr-2"></i>Registrar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-secondary">
                &copy; <a class="text-primary" href="#">Domain</a>. All Rights Reserved. Designed
                by
                <a class="text-primary" href="https://htmlcodex.com">HTML Codex</a>
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="{% static 'img/payments.png' %}" alt="">
        </div>
    </div>
</div>